[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = https://github.com/feshie/Adafruit-Eagle-Library.git
[submodule "SparkFun-Eagle-Libraries"]
	path = SparkFun-Eagle-Libraries
	url = https://github.com/feshie/SparkFun-Eagle-Libraries.git
[submodule "Glacsweb-Eagle-Libraries"]
	path = Glacsweb-Eagle-Libraries
	url = https://github.com/glacsweb/Glacsweb-Eagle-Libraries.git
[submodule "PowerPole-Eagle-Libraries"]
	path = PowerPole-Eagle-Libraries
	url = https://github.com/feshie/eagle_powerpoles.git
[submodule "waspmote-Eagle-Library"]
	path = waspmote-Eagle-Library
	url = https://github.com/feshie/waspmote-Eagle-Library.git
[submodule "z1-Eagle-Library"]
	path = z1-Eagle-Library
	url = https://github.com/feshie/z1-Eagle-Library.git
